<!DOCTYPE html>
<html>
    <head>
        <title>Portal Area</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <!-- Bootstrap core CSS  <div id="map-canvas"></div>-->
        <link href="/static/assets/css/savemarker.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/assets/css/slidemenu.css" rel="stylesheet">
        <style>
          html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
          }
          body { padding-top: 50px; }
        </style>

    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- SlidePanel Button Container -->
          	<div id="slidein-panel-container">
			<a id="slidein-panel-btn" href="#"><i class="glyphicon glyphicon-list"></i></a>
		</div>
                <!-- /SlidePanel Button Container -->
          	<!-- SlidePanel -->
	<div id="slidein-panel">
		<ul> <li><a href="#"><i class="icon-gear"></i>&nbsp; Lists Places</a></li></ul>
		<!-- SlidePanel Content -->
		<ul>
		</ul>
		<!-- /SlidePanel Content -->
	</div>
	<!-- /SlidePanel -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Portal Area {{user.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/p/{{profile}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          {% if not user.is_authenticated %}
            <li><a href="{% url 'signup' %}">Register</a></li>
            <li><a href="{% url 'login' %}" >Login</a></li>
          {% else %}
            <li><a href="{% url 'logout' %}" >Logout</a></li>
          {% endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
        <div id="map-canvas"></div>
	<!-- BOOTSTRAP CONTENT -->



        <div class="marker-edit">
            <form class="form-horizontal save-form marker-edit" style="display: none" id="post-form">
                {% csrf_token %}
		<input type="hidden" name="user" class="user" value={{user.username}}>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="input-xlarge name" name="name">
			
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Type?</label>
                    <div class="col-sm-8">
                        <select name="category" class='type'>
                            <option value="asset">something I like</option>
                            <option value="deficit">something I do not like</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label " for="description">Description</label>
                    <div class="col-sm-8">
                        <textarea class="input-xlarge desc" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="save-marker  btn btn-success btn-block  btn-xs">Save Marker</button>
                    </div>
                </div>
            </form>
        </div> 
        </p>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=drawing"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/assets/js/ggmap.js"></script>
        <script src="/static/assets/js/savemarker.js"></script>
        <script src="/static/assets/js/jquery.slidepanel.js"></script>

    </body>
</html>


