<div class="col-sm-6 bootcards-list" id="list" data-title="Companies">		
                <div class="panel panel-default">					
                    <div class="panel-body">
                        <div class="search-form">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search Companies...">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <a class="btn btn-primary btn-block" href="/companies/add"
                                                                         data-toggle="modal"
                                                                         data-target="#editModal">
                                        <i class="fa fa-plus"></i> 
                                        <span>Add</span>
                                    </a>
                                </div>
                            </div>						    
                        </div>				
                    </div>
                    <div class="list-group">
                        <a class="list-group-item pjax" 
                           href="/companies/o8v9urr7vchs">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Burning Core</h4>
                                    <p class="list-group-item-text">city, England</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/189e4u76bqh34">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Camion Corp.</h4>
                                    <p class="list-group-item-text">Tokyo, Japan</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1btyjc1z2juo0">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Derenden Systems</h4>
                                    <p class="list-group-item-text">Albuquerque, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/18hd5uqmx2ark">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Elparvis</h4>
                                    <p class="list-group-item-text">Tokyo, Japan</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/c37lx4rahhc0">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Enmaris Mobile</h4>
                                    <p class="list-group-item-text">London, England</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/15elgz2vp03r4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Entekra Inc.</h4>
                                    <p class="list-group-item-text">New Delhi, India</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/4shzy32qcwzk">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Expressway Mobile</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/glhmx077n1ts">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Ferakon</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/17cuf2o37sao0">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Fyre Corp.</h4>
                                    <p class="list-group-item-text">Hong Kong, China</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/ee3kc2fsa134">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">GVSB Corp.</h4>
                                    <p class="list-group-item-text">Austin, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/qcrpoxmvwvsw">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Ganonite Corp.</h4>
                                    <p class="list-group-item-text">London, England</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/i5upi7vvgj5s">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Haven Inc.</h4>
                                    <p class="list-group-item-text">New York, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1qhfv0phqlbls">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">House &amp; Hawk</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1f2jqp9rh105c">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Incantata</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1sfuwcfuetr0g">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">KXROSS Inc.</h4>
                                    <p class="list-group-item-text">Manchester, England</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1q99345mcxds0">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Lariatta Inc.</h4>
                                    <p class="list-group-item-text">New York, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1dsfd8h8k0a9s">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Lossless Systems</h4>
                                    <p class="list-group-item-text">Beijing, China</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/hzrmm25z7f9c">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Luke Ltd.</h4>
                                    <p class="list-group-item-text">Frankfurt, Germany</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/bxo811h6xclc">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Masung Corp.</h4>
                                    <p class="list-group-item-text">Tokyo, Japan</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/l483t0vx6vwg">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Materella Inc.</h4>
                                    <p class="list-group-item-text">Seattle, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/whaadxwp8g00">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Mecharta Corp.</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/chi34a7vmmtc">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">NoHi Corp.</h4>
                                    <p class="list-group-item-text">Tokyo, Japan</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1oodcnkjc5xc">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Northern Sting</h4>
                                    <p class="list-group-item-text">Seattle, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1b69hxm8bxxq8">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Orlitz Corp.</h4>
                                    <p class="list-group-item-text">Tokyo, Japan</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/sf2xn0pqeccg">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Peranos Inc.</h4>
                                    <p class="list-group-item-text">Miami, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1k5oekr8m2akg">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Sayad Mobile</h4>
                                    <p class="list-group-item-text">Abu Dhabi, UAE</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/yvtlvb2hog00">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Seventh Level</h4>
                                    <p class="list-group-item-text">Amsterdam, Netherlands</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/jnpn87e459mo">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Shearven Inc.</h4>
                                    <p class="list-group-item-text">London, England</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1f98tdka89tz4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Silver Rocket Inc.</h4>
                                    <p class="list-group-item-text">Los Angeles, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1x4u7i4g1gcg0">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Techtractus Inc.</h4>
                                    <p class="list-group-item-text">Nairobi, Kenya</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/c1ajubcvbf28">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Techyon</h4>
                                    <p class="list-group-item-text">Madrid, Spain</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/693otga0nrpc">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Telkon Corp.</h4>
                                    <p class="list-group-item-text">Boston, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1wxmpmsfy6by8">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Terrestria Inc.</h4>
                                    <p class="list-group-item-text">Sacramento, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/soltv3tewuf4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Tidus International</h4>
                                    <p class="list-group-item-text">New York, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1msqiu39cn9j4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Trantion Systems</h4>
                                    <p class="list-group-item-text">Portland, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/1tthlkjdy53pc">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Travanus</h4>
                                    <p class="list-group-item-text">Sacramento, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/raf5cjru4ef4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Yoracle Inc.</h4>
                                    <p class="list-group-item-text">Hong Kong, China</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/mco1ecpaxp8g">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Yunalesca</h4>
                                    <p class="list-group-item-text">Hong Kong, China</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/99kkk8tvfxts">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">ZetaComm</h4>
                                    <p class="list-group-item-text">Washington, D.C., USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                        <a class="list-group-item pjax" 
                           href="/companies/9r6e6fl7ak8w">

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-3x fa-building-o pull-left"></i>
                                    <h4 class="list-group-item-heading">Zing International</h4>
                                    <p class="list-group-item-text">New York, USA</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">Customer Type</p>
                                    <p class="list-group-item-text">$35,000 Revenue YTD</p>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Built with Bootcards - Detailed List</small>
                        <a class="btn btn-link btn-xs pull-right"
                           href="/snippets/list-detailed"
                           data-toggle="modal"
                           data-target="#docsModal">
                            View Source</a>
                    </div>					
                </div>
            </div>

